<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titlefont">
      {{'PLAYERS.title' | translate}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #input showCancelButton="focus" debounce="500" (ionChange)="searchPlayer($event)" placeholder="{{'SEARCH.title' | translate}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-list>
    <!--<ion-list-header>      
    </ion-list-header>-->
    

    <ion-item-sliding *ngFor="let Player of listado">
      <ion-item-options side="start" (click)="editPlayer(Player)">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src={{Player.image}}></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{Player.name}}</h2>
          <h3>{{Player.games}} {{'PLAYERS.games' | translate}}</h3>
          <p>{{Player.goals}} {{'PLAYERS.goals' | translate}} {{Player.assists}} {{'PLAYERS.assists' | translate}} </p>
        </ion-label>
        <ion-icon name="eye" slot="end" class="see" (click)="this.openPlayer(Player)"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="this.presentAlert(Player)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    

    
  </ion-list>
  <!--<ion-fab (click)="this.addPlayer()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>