ion-content{
    --background: none;
   
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("/assets/img/engra.png");
    background-position:center;
    
    
}

ion-item {
    margin: auto;
    border-radius: 6px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 30px;
    
    
    
}