<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titlefont">
      {{'MATCHES.title' | translate}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="timer-outline"  slot="end" style="padding-right: 18px; margin-top: 2px;width: 25px;height: 25px;" routerLink="/oldmatches"></ion-icon>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let Game of listado2" >
  <ion-item-sliding *ngIf="Game.resultado==''">
   <!--  <ion-item-options side="start">
      <ion-item-option color="primary">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option> 
    </ion-item-options> -->
    <ion-item (click)="this.openGame(Game)">
      <ion-card style="width: 100%;">
        <div style="display: flex;justify-content: center;">
          <ion-img class="teamimg3" style="justify-content: left;" src={{Game.t[0].image}}></ion-img>
          <ion-img class="teamimg3" style="justify-content: center;" src="./assets/img/versus.png"></ion-img>
          <ion-img class="teamimg3" style="justify-content: right;" src={{Game.t[1].image}}></ion-img>
        </div>
        <ion-card-header>
          <ion-card-subtitle>
            <div style="display: flex;justify-content: center;">
              <p style="justify-content: left;">{{Game.t[0].name}}</p>
              <p style="justify-content: center;width: 38%;"></p>
              <p style="justify-content: right;">{{Game.t[1].name}}</p>
            </div>
          </ion-card-subtitle>
          <ion-card-title>{{'MATCHES.day' | translate}} {{Game.jornada}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <!-- <ion-item-options side="end">
      <ion-item-option color="danger" (click)="presentAlert(Game)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>  -->
  </ion-item-sliding>
</ng-container>
  <ion-fab routerLink="/newmatch" vertical="bottom" horizontal="end" slot="fixed" *ngIf="(this.admin=='yes')||(this.admin=='yes2')">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>