<ion-header>
  <ion-toolbar>
    <ion-title class="titlefont">{{'MATCHINFO.title' | translate}}</ion-title>
    <ion-icon (click)="this.exit()" name="arrow-back-circle-outline" style="margin-left:18px;width: 25px;height: 25px; margin-top: 7px;"></ion-icon>
    <ion-icon name="play-forward-circle-outline" slot="end" style="padding-right: 18px;width: 25px;height: 25px;"  *ngIf="(this.admin=='yes')||(this.admin=='yes2')" (click)="this.openGame()"></ion-icon>
  </ion-toolbar>
  <div class="header">
    <div style="display: flex;justify-content: center;">
      <ion-img class="teamimg3" style="justify-content: left; margin-top: 35px;;" src={{this.game.t[0].image}}>
      </ion-img>
      <ion-img class="teamimg3" style="justify-content: center;margin-top: 35px;" src="./assets/img/versus.png">
      </ion-img>
      <ion-img class="teamimg3" style="justify-content: right;margin-top: 35px;" src={{this.game.t[1].image}}></ion-img>
    </div>
    <!-- <div style="display: flex;justify-content: center;">
      <p style="justify-content: left; color: white;">{{this.game.t[0].name}}</p>
      <p style="justify-content: center;width: 42%;"></p>
      <p style="justify-content: right;color: white;">{{this.game.t[1].name}}</p>
    </div> -->
  </div>
</ion-header>
<ion-content style="height: 100%;">
  <ion-slides pager="true" [options]="slideOpts" style="height: 100%;" *ngIf="this.slide1==true">
    <ion-slide >
      <div style="display:block;width: 100%;height: 100%;">
        <div style="width: 100%;margin-top: 10px;">
          <h1 class="titlefont" style="text-align: center; padding-bottom: 30px;">{{'MATCHINFO.home' | translate}}</h1>
        </div>
        <div style="width: 100%">
          <ion-item style="width: 100%" *ngFor="let Player of this.game.t[0].repertorio">
            <ion-avatar slot="start">
              <ion-img src={{Player.image}}></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{Player.name}}</h2>
              <h3>{{Player.games}} {{'PLAYERS.games' | translate}}</h3>
              <p>{{Player.goals}} {{'PLAYERS.goals' | translate}} {{Player.assists}} {{'PLAYERS.assists' | translate}}
              </p>
            </ion-label>
            <ion-icon name="eye" slot="end" class="see" (click)="this.openPlayer(Player)"></ion-icon>
          </ion-item>
        </div>
      </div>



    </ion-slide>
    <ion-slide>
      <div style="display:block;width: 100%;height: 100%;">
        <div style="width: 100%;margin-top: 10px;">
          <h1 class="titlefont" style="text-align: center; padding-bottom: 30px;">{{'MATCHINFO.away' | translate}}</h1>
        </div>
        <div style="width: 100%">
          <ion-item style="width: 100%" *ngFor="let Player of this.game.t[1].repertorio">
            <ion-avatar slot="start">
              <ion-img src={{Player.image}}></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{Player.name}}</h2>
              <h3>{{Player.games}} {{'PLAYERS.games' | translate}}</h3>
              <p>{{Player.goals}} {{'PLAYERS.goals' | translate}} {{Player.assists}} {{'PLAYERS.assists' | translate}}
              </p>
            </ion-label>
            <ion-icon name="eye" slot="end" class="see" (click)="this.openPlayer(Player)"></ion-icon>
          </ion-item>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>