<ion-header>
  <ion-toolbar>
    <ion-title class="titlefont">{{'NEWMATCH.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="animate__animated animate__fadeInRight">
  <h3 class="titlefont" style="text-align: center; padding-bottom: 30px; padding-top: 150px;">{{'NEWMATCH.text' | translate}}</h3>
  
  
  <form id="form" [formGroup]="newmatch" (ngSubmit)="this.sendForm()">

  <ion-item>
    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-label>{{'NEWMATCH.day' | translate}}</ion-label>
    <ion-select interface="action-sheet" (ionChange)="createGame($event)" formControlName="jornadan">
      <ion-select-option *ngFor="let jornada of jornadas" value="{{jornada}}">{{'NEWMATCH.day' | translate}} {{jornada}}</ion-select-option>
    </ion-select>
  </ion-item>
<ion-item>
  <ion-icon slot="start" name="home"></ion-icon>
  <ion-label>{{'NEWMATCH.home' | translate}}</ion-label>
  <ion-select value="equipo1" interface="action-sheet" formControlName="equipo1">
    <ion-select-option *ngFor="let Team of listado" value="{{Team.id}}">{{Team.name}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-icon slot="start" name="enter"></ion-icon>
  <ion-label>{{'NEWMATCH.away' | translate}}</ion-label>
  <ion-select value="equipo2" interface="action-sheet" formControlName="equipo2">
    <ion-select-option *ngFor="let Team of listado" value="{{Team.id}}">{{Team.name}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-button [disabled]="!newmatch.valid" type="submit" expand="block">{{'NEWMATCH.crear' | translate}}</ion-button>
</form>


</ion-content>
