ion-item {
    margin: auto;
    border-radius: 6px;
    width: 70%;
    margin-top: 10px;
    
    
    
}

ion-button {
    margin: auto;
    border-radius: 6px;
    width: 80%;
    margin-top: 25px;
    
    
    
}