/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~animate.css/animate.min.css";




:root{
    
    
      .icono{
        --color-selected:#C70039;
    }
    .titlee{
        text-align: center !important;
            }
            
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .see{
          color:#C70039;
          
          
      }
      
      .icontitle{
          padding-left: 10px;
      }

      .avatarimg{
        margin-top: 20px;
        margin-bottom: 20px;
        height: 100px;
        width: 100px;
    }  
    .teamimg{

        padding-top: 20px;
        height: 250px;
        width: 250px;
    }
    .teamimg3{

        padding-top: 20px;
        height: 100px;
        width: 100px;
    }

    .teamimg2{

        
        height: 25px;
        width: 25px;
    }
    
    .loginimg{

        padding-top: 50px;
        height: 250px;
        width: 250px;
    }

    .ad{
        
        
    }
    
    

    

          
    
}


