
ion-slides{
    height: 100%;
}
.slide123{
    height: 100%;
    --background: none;
        background: linear-gradient(rgba(255,255,255,0.0),rgba(255,255,255,0.0)),url("/assets/img/person.svg") no-repeat center center / cover !important;;
}

.prueb{
    
    position: relative;      
    right: 16%;
    bottom: 18%;
    animation: headShake 2s infinite;
  
}