<ion-content>
  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide class="slide123">
        <p class="titleslide">Consulta las estadisticas de todos nuestros jugadores</p>
        <div class="prueb">
          <ion-img class="teamimg" src="./assets/img/playertag.png"></ion-img>
        </div>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
        <ion-button (click)="this.onClick()" expand="block" fill="outline" color="dark"></ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>